<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <listeners>
        <listener class-name="utils.Listener">
            Regression
        </listener>
    </listeners>

    <!-- LOGIN -->
    <test name="LoginTest">
        <classes>
            <class name="test.HomeTest" />
            <class name="test.BalanceTest" />
        </classes>
    </test> <!--LOGIN -->

</suite> <!-- Suite -->
